@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital@0;1&display=swap');
@font-face {
    font-family: 'FonteLogo';
    src: url("_fonts/bubblegum-sans-regular.otf");
}

.body {
    height: 4500px;
    background: linear-gradient(180deg, black 61.38%, #BFBFBF 105.93%);
    left: 0px;
    right: 0px;
    zoom: 85%;
}

.imagem {
    position: absolute;
    height: 1300px;
    left: 0px;
    top: 0px;
    border-radius: 25px;
    opacity: 85%;
}

.imagem3 {
    position: absolute;
    left: 1900px;
    top: 620px;
    zoom: 50%;
    opacity: 35%;
}

div#apresentacao {
    position: absolute;
    width: 683px;
    height: 290px;
    left: 127px;
    top: 350px;
    font-family: Abhaya Libre ExtraBold;
    font-style: normal;
    font-weight: 800;
    font-size: 23px;
    line-height: 160%;
    /* or 37px */
    color: #BBBBBB;
}

.nomeLogo {
    position: absolute;
    width: 200px;
    height: 80px;
    left: 80px;
    top: 35px;
    font-family: 'Trispace', Impact, Haettenschweiler;
    font-style: normal;
    font-weight: 150;
    font-size: 90px;
    line-height: 160%;
    /* or 64px */
    color: #FFFFFF;
    mix-blend-mode: screen;
    text-shadow: 0px 6px 6px orange;
}

li#sobre {
    position: absolute;
    width: 160px;
    height: 40px;
    left: 750px;
    top: 78px;
    font-family: 'Anton', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 160%;
    /* or 32px */
    color: #FFFFFF;
    mix-blend-mode: normal;
    text-shadow: 0px 1px 1px orange;
}

li#ajuda {
    /* Ajuda */
    position: absolute;
    width: 160px;
    height: 40px;
    left: 950px;
    top: 78px;
    font-family: 'Anton', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 160%;
    /* identical to box height, or 32px */
    /* 1 */
    color: #FFFFFF;
    mix-blend-mode: normal;
    text-shadow: 0px 1px 1px orange;
}

li#recurso {
    /* Recursos */
    position: absolute;
    width: 160px;
    height: 40px;
    left: 1150px;
    top: 78px;
    font-family: 'Anton', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 160%;
    /* identical to box height, or 32px */
    /* 1 */
    color: #FFFFFF;
    mix-blend-mode: normal;
    text-shadow: 0px 1px 1px orange;
}

li#inscreva {
    /* Inscreva-se */
    position: absolute;
    width: 160px;
    height: 40px;
    left: 1350px;
    top: 78px;
    font-family: 'Anton', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 160%;
    /* or 32px */
    /* 1 */
    color: white;
    mix-blend-mode: normal;
    text-shadow: 0px 1px 1px orange;
}

h2#segundoTitulo {
    /* Seja bem-vindo */
    position: absolute;
    width: 758px;
    height: 184px;
    left: 230px;
    top: 400px;
    font-family: 'Anton', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    /* or 88px */
    display: flex;
    align-items: center;
    transition: 10s;
    color: #FFFFFF;
    border-color: 1px solid #008000;
    text-shadow: 0px 4px 4px red;
}

button#meConheca {
    position: absolute;
    width: 145px;
    height: 60px;
    top: 600px;
    background-color: green;
    font-family: Abhaya Libre ExtraBold;
    font-weight: 800;
    font-size: 20px;
    /* or 22px */
    display: flex;
    align-items: center;
    color: white;
    border-radius: 25px;
    left: 100px;
}

h3#textoApresentacao {
    position: absolute;
    width: 720px;
    height: 230px;
    left: 100px;
    top: 300px;
    font-family: 'Amatic SC', cursive;
    font-style: normal;
    font-weight: 500;
    font-size: 33px;
    line-height: 160%;
    /* or 37px */
    color: white;
}

a#textSobre {
    color: white;
}

div#imagem2 {
    position: absolute;
    zoom: 80%;
    width: 573px;
    height: 603.8px;
    left: 0px;
    top: 1300px;
    background: url(img/teste6.png);
}

h2#fabricaDeSoftware {
    position: absolute;
    width: 975px;
    height: 320.73px;
    left: 925px;
    top: -130px;
    font-family: 'Anton', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 80px;
    line-height: 130%;
    /* or 65px */
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
    mix-blend-mode: normal;
    text-shadow: 0px 3px 3px red;
}

h3#sobreFabricaDeSoftware {
    position: absolute;
    width: 882px;
    height: 932.73px;
    left: 930px;
    top: 300px;
    font-family: 'Amatic SC', cursive;
    font-style: normal;
    font-weight: 0;
    font-size: 35px;
    line-height: 160%;
    /* or 40px */
    /* 1 */
    color: #FFFFFF;
    mix-blend-mode: normal;
}